.main {
  font-size: 20px;
  &-content {
  font-size: 14px;
  }
 }


 $global-value: 50px;
.main {
 width: 500px;
 height: 500px;
 margin: $global-value;
 padding: $global-value;
 background: #333;
}

.main {
  $scope-value: 50px;
  width: 500px;
  height: 500px;
  margin: $scope-value;
  padding: $scope-value;
  background: #333;
 }
 .sub {
  width: 500px;
  height: 500px;
  // margin: $scope-value;
  // padding: $scope-value;
  background: #333;
 }


 $parent-name: '.main';
$img-path: './img/';
#{$parent-name} {
 $scope-value: 50px;
 width: 500px;
 height: 500px;
 margin: $scope-value;
 padding: $scope-value;
 // 画像は⽤意してないのでコメントアウトしています
 // background: url(${$img-path}img.png);
}

.main-box {
  width: 300px;
  height: 300px;
  background: #ff0000;
 }
 .sub-box {
  @extend .main-box;
 }


 .is-flex {
  display: flex;
 }
 .main-box {
  width: 300px;
  height: 300px;
  background: #ff0000;
 }
 .sub-box {
  @extend .main-box;
  @extend .is-flex;
 }


 .is-flex {
  display: flex;
 }
 .main-box {
  width: 300px;
  height: 300px;
  background: #ff0000;
 }
 .mini-box-area {
  width: 100px;
  height: 100px;
 }
 .sub-box {
  position: relative;
  @extend .main-box;
  @extend .is-flex;
  &-content {
  position: absolute;
  top: 0;
  left: 0;
  background: #0008f3;
  @extend .mini-box-area;
  }
 }


 .main-box {
  width: 300px;
  height: 300px;
  background: #ff0000;
 }
 @media screen and (max-width: 1199px) {
  .sub-box {
  @extend .main-box;
  }
 }